/* 
  body {
  padding-left: 11em;
font-family: Georgia, "Times New Roman",
          Times, serif;
    color: white;
    background-color: black }
  ul.navbar {
list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
 ul.navbar li {
    background: green;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: cyan }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
 h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif 
color: #599BCC;
}
 */
 
 body {
  background: #34495e;
  font: normal 300 18px "Roboto", sans-serif;
  
}
 body {
  padding-left: 11em;
font-family: Georgia, "Times New Roman",
          Times, serif;
    color: white;
    background-color: black }

 
#menu-nav {
  max-width: 1000px;
  margin: 130px auto;
  background-color: #ecf0f1;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 20%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #e74c3c;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 
li {
	list-style: none;
}